/* DESIGN DECISIONS AND SETTINGS 
  --- TYPOGRAPHY SYSTEM

  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  FONT WEIGHTS:
  default: 400, 500, 600, 700

  LINE HEIGHT: 
  default: 1, 
  SMALL: 1.05,
  MEDIUM: 1.2
  PARAGRAPH DEFAULT: 1.6

  LETTER SPACING: 
    DEFAULT: 0.5px, 0.75px


  FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 
    / 52 / 62 / 74 / 86 / 98
 
  COLOR SYSTEM
    Main Color: 

    
    -Tints: 
    - Shades: 
      link: maketintsandshades.com
    - Accents:
    - Grey: 
      #555
      #333

  --- SHADOWS
  
  -- BORDER_RADIUS
  default: 9px

  -- WHITE Space

*/