/* DESIGN DECISIONS AND SETTINGS 
  --- TYPOGRAPHY SYSTEM

  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  FONT WEIGHTS:
  default: 400, 500, 600, 700
  FONT FAMILY: ROBOTO, RUBIK, FIGTREE 

  LINE HEIGHT: 
  default: 1, 
  SMALL: 1.05,
  MEDIUM: 1.2
  PARAGRAPH DEFAULT: 1.6

  LETTER SPACING: 
    DEFAULT: 0.5px, 0.75px


  FONT SIZE SYSTEM (px) convert to rem
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 
    / 52 / 62 / 74 / 86 / 98
 
  COLOR SYSTEM
    Main Color: 

    
    -Tints: 
    - Shades: 
      link: maketintsandshades.com
    - Accents:
    - Grey: 
      #555
      #333

  --- SHADOWS
  
  -- BORDER_RADIUS
  default: 

  -- WHITE Space

*/

/*******************/
/* General Body */
/*******************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62%;
}

body {
  width: 90%;
  height: 120vh;
  font-family: 'Roboto', sans-serif;
}

main {
  /* background-color: rgb(225, 233, 226); */
  margin: auto 20px;
}

.logo {
  font-size: 1.2rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  padding: 0.8rem;
  margin-bottom: 1.2rem;
}
/* 
.first-section {
  padding: 5px;
  margin: 10 auto;
} */

/* ****************** */
/* First section */
/* ****************** */

section > h1 {
  font-weight: 600;
  font-size: 2.6rem;
  letter-spacing: 0.05px;
  margin-bottom: 1.4rem;
}

section > p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 3rem;
}

section > h3 {
  font-weight: 400;
  font-size: 1.6rem;
}

.social-auth {
  padding: 1.6rem;
  margin: 1rem;
}

button {
  border: none;
  background-color: #fff;
  font-size: 4rem;
  margin: 0 2rem;
}

.fa-google {
  color: black;
}

.or {
  margin: 0 auto;
}

/* ******************* */
/* Styling form  */
/* ******************* */
.container {
  position: absolute;
  margin: 2rem 0;
  width: 80%;
  margin: 0 auto;
}

form > h3 {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.form-group {
  position: relative;
  padding: 1rem 0;
  margin-top: 1.6rem;
  width: 100%;
}

.form-field {
  font-size: 1.2rem;
  color: #333;
  width: 90%;
  border: 0;
  border-bottom: 0.5px solid #333;
  outline: 0;
  padding: 0.5rem 0;
  background: transparent;
}

.form-label {
  position: absolute;
  display: block;
  top: 0;
  font-size: 1rem;
  color: #9b9b9b;
}

.dob {
  display: inline;
  margin: 2px 8px;
  width: 40%;
}

.cta {
  text-decoration: none;
  color: #fff;
  background-color: #09a535;
  padding: 1.2rem;
  border: 0;
  border-radius: 2.8rem;

  text-decoration: none;
  font-size: 1.6rem;
  align-content: center;
}
