* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  position: relative;
  overflow-x: hidden;
  height: 100%;

  font-family: 'Roboto', sans-serif;
}

.logo {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: #156715;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem;
  gap: 1.6rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  opacity: 0;

  visibility: hidden;
  pointer-events: none;
}
.main-nav-link {
  text-decoration: none;
}

.btn-menu {
  height: 2rem;
  width: 2.5rem;
  background-color: #fff;
  border: none;
}

.close {
  display: none;
}

.container {
  width: 100%;
  position: relative;
}

.profile-container {
  width: 80%;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 10px auto;
  color: #333;
  padding: 2rem 1rem;
}

.profile-header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.btn-arrow-back {
  font-size: 2.5rem;
  background-color: transparent;
  text-decoration: none;
  border: none;
}

.back-btn {
  color: #333;
}

.head-primary {
  font-size: 1.8rem;
  margin-left: -2rem;
}

.user-icon {
  border: none;
  font-size: 2.8rem;
}

.profile-body {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
  gap: 2rem;
}

.user-info > h3 {
  font-size: 1.6rem;
  color: #333;
}

.user-info > p {
  font-size: 1.4rem;
}

.edit-profile {
  padding: 0 1rem 0 2rem;
}

.profile-footer {
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  border: none;
  border-bottom: 1px #333 dashed;
  font-size: 1.6;
  background: transparent;
}

.change-password {
  text-decoration: none;
  color: #2e42f1;
  font-size: 1.4rem;
}

.logout {
  padding: 0.8rem;
  border-radius: 10px;
  background-color: #156715;
  color: #fff;
}

.footer {
  background-color: #156715;
  width: 100%;
}

.footer-container {
  padding: 2rem;
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
}

.footer-logo {
  color: #fff;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.social-links > a {
  padding: 1.2rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
}
