/* DESIGN DECISIONS AND SETTINGS 
  --- TYPOGRAPHY SYSTEM

  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  FONT WEIGHTS:
  default: 400, 500, 600, 700
  FONT FAMILY: ROBOTO, RUBIK, FIGTREE 

  LINE HEIGHT: 
  default: 1, 
  SMALL: 1.05,
  MEDIUM: 1.2
  PARAGRAPH DEFAULT: 1.6

  LETTER SPACING: 
    DEFAULT: 0.5px, 0.75px


  FONT SIZE SYSTEM (px) convert to rem
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 
    / 52 / 62 / 74 / 86 / 98
 
  COLOR SYSTEM
    Main Color: 

    
    -Tints: 
    - Shades: 
      link: maketintsandshades.com
    - Accents:
    - Grey: 
      #555
      #333

  --- SHADOWS
  
  -- BORDER_RADIUS
  default: 

  -- WHITE Space

*/

/*******************/
/* General Body */
/*******************/

* {
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/*******************/
/* HEADER */
/*******************/
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  /*  to make the header sticky later */
  height: 6rem;
  padding: 0 1.8rem;
}

.logo {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: #156715;
}

/* ************ */
/* NAVIGATION  */
/* ************ */
.main-nav .nav-open {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);

  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;

  /* Hidden from view */
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.main-nav-link{
  display: none;
  list-style: none;
}
/* .nav-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .nav-open .main-nav {
  /* } */

.btn-menu {
  cursor: pointer;
  background-color: #fff;
  border: none;
  font-size: 2.2rem;
  color: #333;
}

.close {
  display: none;
}

.main-nav-link {
  text-decoration: none;
}

/* **************** */
/* HERO SECTION  */
/* **************** */
.hero-section {
  width: 100%;
  background-color: #156715;
}
.hero {
  padding: 2rem 1rem;
  text-align: center;
  max-width: 130rem;
  margin: 0 auto;
}
.heading-primary {
  color: #fff;
  font-size: 1.6rem;
}

/* *************** */
/* FEATURED  */
/* *************** */
.featured {
  padding: 1rem;
  text-align: left;
}

.heading-secondary {
  font-size: 1.2rem;
  color: #333;
  margin: 2rem 0;
}

.first-paragraph {
  font-size: 0.8rem;
  line-height: 1.3;
}

/* ********************** */
/* PARTY TABLE SECTION  */
/* ********************** */
.party-section {
  width: 100%;
  position: absolute;
}

.container {
  width: 95%;
  margin: 0 auto;
}
.party-logo {
  width: 2rem;
  height: 2rem;
}
.table {
  width: 100%;
  margin: 1.1rem auto;
  table-layout: auto;
  text-align: center;
}

.party-name {
  width: 10rem;
}

table,
td,
th {
  border-collapse: collapse;
  position: absolute;
}

thead {
  background-color: #156715;
  color: #fff;
}

th,
td {
  padding: 1rem;
  border: 0.06rem solid;
}
